table {
  width: 800px;
  border-collapse: separate; /* Alterado de 'collapse' para 'separate' */
  border-spacing: 0 3px; /* Espaçamento vertical de 3px entre as linhas */
}

/* Adicione estas regras para estilizar as linhas */
tr {
  background-color: white;
  overflow-wrap: break-word;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1); /* Sombra sutil para melhor visualização */
}

/* Estilo para as células para manter a aparência consistente */
td, th {
  padding: 8px; /* Espaçamento interno mantido */
  vertical-align: middle; /* Alinhamento vertical */
}

/* Mantenha o restante do CSS como está */
.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sem-pensamentos {
  text-align: center;
  padding: 2rem 0 5rem;
}

td{
  overflow-wrap: break-word;
}

.botaoLongo-editar{
  position: inherit;
  height:10px;
  width:10px
}
.icon-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.botao-icone {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.botao-icone img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.falta-indicador {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid #000;
}

.falta-mais-de-3 {
  background-color: #a5bdd8;
  color: #000;
}

.falta-ate-3 {
  background-color: yellow;
  color: #000;
}