/* Fundo geral */
.auth-container {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/* Card */
.auth-card {
  background: linear-gradient(220deg, #ffffff 0%, #123a6a 100%);
  border-radius: 20px;
  padding: 32px 28px;
  width: 100%;
  max-width: 480px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}


mat-form-field {
  margin-bottom: 26px;
}


/* 🔹 8️⃣ Texto do botão mais legível */
button[mat-flat-button] {
  color: #ffffff;
  font-weight: 600;
  background-color: #184f8dcc;
}



/* 5️⃣ GRID MAIS HARMÔNICO */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


/* Botão */

mat-card-title {
  color: #1b5699;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 32px;
}


p.termosTemQueAceitar {
  color: #ffffff;
}