<section class="auth-container">
  <div class="auth-card">
    <h2>Crie sua conta</h2>
    <p class="subtitulo">Preencha os dados para se cadastrar</p>

    <form [formGroup]="form" (ngSubmit)="criarUser()">


      <!-- Nome -->
      <label>Nome</label>
      <input type="text" formControlName="name" placeholder="Seu nome completo" ngConsoleLog="user.nome"/>

      <!-- Email -->
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="seu@email.com" ngConsoleLog="user.email"/>

      <!-- Senha -->
      <!-- Senha -->
        <div class="password-header">
          <label class="password-label">
            Senha
            <span class="info-icon" (click)="togglePasswordInfo()">i</span>
          </label>

          @if (showPasswordInfo) {
            <div class="password-tooltip mobile">
              <table>
                <thead>
                  <tr>
                    <th>Senha</th>
                    <th>Classificação</th>
                    <th>Motivo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>123456</td>
                    <td class="fraca">Fraca</td>
                    <td>6 caracteres</td>
                  </tr>
                  <tr>
                    <td>12345678</td>
                    <td class="media">Média</td>
                    <td>8 caracteres</td>
                  </tr>
                  <tr>
                    <td>Senha123</td>
                    <td class="forte">Forte</td>
                    <td>Maiúscula + número</td>
                  </tr>
                  <tr>
                    <td>Senha@123</td>
                    <td class="muito-forte">Muito Forte</td>
                    <td>Maiúscula + número + caractere especial</td>
                  </tr>
                </tbody>
              </table>
            </div>
          }
        </div>
      <!-- Fim -- 🛈 ícone de informação -->

      <div class="input-password">
        <input
          [type]="showPassword ? 'text' : 'password'" formControlName="password"
          placeholder="••••••••"
          ngConsoleLog="user.password"
          />
        <button type="button" class="olhoMagico" (click)="togglePassword()">👁️</button>
      </div>
      @if (form.get('password')?.value) {
        <div class="password-strength-container">
          <div
            class="password-strength-bar"
            [ngClass]="'strength-' + passwordStrength"
          >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

          <span
            class="strength-text"
            [ngClass]="'text-' + passwordStrength"
          >
            {{ strengthLabels[passwordStrength] }}
          </span>
        </div>
      }


      <!-- Confirmar senha -->
      <label>Confirmar senha</label>
      <div class="input-password">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="••••••••"
          />
          @if (
            form.hasError('mismatch') &&
            form.get('password')?.touched &&
            form.get('confirmPassword')?.touched
          ) {
            <p class="error">As senhas não conferem</p>
          }


        <button type="button" class="olhoMagico" (click)="toggleConfirmPassword()">👁️</button>
      </div>

      <!-- Botão -->

      <button>Cadastrar</button>


      <p class="rodape">
        Já tem uma conta? <a routerLink="/login">Entrar</a>
      </p>
    </form>
  </div>
</section>
