/* Fundo geral */
.auth-container {
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/* Card */
.auth-card {
  background: rgb(24,78,141);
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  max-width: 380px;
}


/* Título */
.auth-card h2 {
  color: #7CFF9E;
  text-align: center;
  margin-bottom: 6px;
}

/* Subtítulo */
.subtitulo {
  text-align: center;
  color: #9e9e9e;
  font-size: 14px;
  margin-bottom: 24px;
}

/* Labels */
.auth-card label {
  display: block;
  margin-bottom: 6px;
  color: #bdbdbd;
  font-size: 14px;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 18px;
  outline: none;
}

.auth-card input::placeholder {
  color: #6f6f6f;
}

.auth-card input:focus {
  border-color: #7CFF9E;
}

/* Botão */
.auth-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #7CFF9E;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #63e885;
}

/* Rodapé */
.rodape {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #bdbdbd;
}

.rodape a {
  color: #7CFF9E;
  text-decoration: none;
  font-weight: 500;
}

/* caracteristicas da senha forte e fraca: */
.input-password {
  position: relative;
}

.input-password button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.erro {
  font-size: 12px;
  color: #ef4444;
  margin-top: -12px;
  margin-bottom: 12px;
}

.strength {
  margin-bottom: 16px;
}

.bars {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.bars span {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: #334155;
}

.bars span.active {
  background: #22c55e;
}
